<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Confirmation</title>
  </head>
  <body>
    <h1>You have deleted all contacts!</h1>
    <form action="/" method="get"> <!-- <METHOD -->
      <button type="submit">Return Home</button>
    </form>
  </body>
</html>
