<!DOCTYPE html>
<html>
  <head>
    <title>Delete Confirmation</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="well">
        <h2>Address book cleared!</h2>
        <div class="blocked">
          <form action="/" method="get">
            <button type="submit">Return Home</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
