<!DOCTYPE html>
<html>
  <head>
    <title>Search for Contact</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8">
      <div class="well">
        <h2>Contact Search:</h2>
        <form action='/searchResults' method='post'>
          <label for='contact-search'>Enter the Contact Name you would like to search for:</label>
          <input id='contact-search' name='contact-search' type='text'>
          <button>Search</button>
        </form>
        <br>
        <div class="blocked">
          <form action="/" method="get">
            <button type="submit">Return Home</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
