<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search for Contact</title>
  </head>
  <body>
    <h2>Contact Search:</h2>
    <form action='/searchResults' method='post'>
      <label for='contact-search'>Enter the Contact Name you would like to search for:</label>
      <input id='contact-search' name='contact-search' type='text'>
      <button>Search</button>
    </form>
    <form action="/" method="get">
      <button type="submit">Return Home</button>
    </form>
  </body>
</html>
