<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Contact</title>
  </head>
  <body>
    <h2>Create New Contact:</h2>
    <form action='/submitContact' method='post'>
      <label for='contact-name'>Contact Name:</label>
      <input id='contact-name' name='contact-name' type='text'>
      <label for='contact-address'>Contact Address:</label>
      <input id='contact-address' name='contact-address' type='text'>
      <label for='contact-number'>Contact Phone Number:</label>
      <input id='contact-number' name='contact-number' type='number'>
      <button type='submit'>Save Contact</button>
    </form>
  </body>
</html>
