<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <span>Here are the contacts you have created: </span>
    @foreach (var contact in Model)
    {
      <li><a href='/'>@contact.GetContactName()</a></li>
    }
    <form action="/create" method="get"> <!-- <METHOD -->
      <button type="submit">Create New Contact</button>
    </form>
    <form action="/deleteAll" method="post"> <!-- <METHOD -->
      <button type="button" name="deleteAll">Delete All Contacts</button>
    </form>
  </body>
</html>
