<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <span>Here are the contacts you have created: </span>
    @foreach (var contact in Model)
    {
      <li>@Model.contactName</li>
    }
    <form action="/create" method="get"> <!-- <METHOD -->
      <button type="button" name="create">Create New Contact</button>
    </form>
    <form action="/deleteAll" method="post"> <!-- <METHOD -->
      <button type="button" name="deleteAll">Delete All Contacts</button>
    </form>
  </body>
</html>
