<!DOCTYPE html>
<html>
  <head>
    <title>You created a new contact!</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="well">
        <h2>You created a new contact! </h2>
        <h4>Name: @Model.GetContactName()</h4>
        <h4>Address: @Model.GetAddress()</h4>
        <h4>Phone Number:@Model.GetPhoneNumber()</h4>
        <div class="blocked">
          <form action="/" method="get"> <!-- <METHOD -->
            <button type="submit">Return Home</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
