<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="well">
        @if (@Model.Count == 0) {
          <h2>No matches found!</h2>
        } else {
          <h2>Your search returned the following results:</h2>
          @foreach (var contact in Model)
          {
            <li><a href='/contacts/@contact.GetContactID()'>@contact.GetContactName()</a></li>
          }
        }
        <div class="blocked topMargin">
          <form class="formFloat" action="/search" method="get">
            <button type="submit">Search Again</button>
          </form>
          <form class="formFloat" action="/" method="get">
            <button type="submit">Return Home</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
