<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results</title>
  </head>
  <body>
    <h2>Your search returned the following results:</h2>
    @foreach (var contact in Model)
    {
      <li><a href='/contacts/@contact.GetContactID()'>@contact.GetContactName()</a></li>
    }
    <form action="/search" method="get"> <!-- <METHOD -->
      <button type="submit">Search Again</button>
    </form>
    <form action="/" method="get"> <!-- <METHOD -->
      <button type="submit">Return Home</button>
    </form>
  </body>
</html>
